<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} | Le Code Secret</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <meta name="description" content="{{ page_description }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q5LGJ7VCRB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Q5LGJ7VCRB');
    </script>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="index.html">LE CODE <span class="highlight">SECRET</span></a>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Dossiers Confidentiels</a></li>
                    <li><a href="manifeste.html">À Propos (Manifeste)</a></li>
                    <li><a href="https://www.marketingflix.fr/livre-noir-offert?sa=sa0083394361eb6eae9b3b924c7163a1c4071fe27e"
                            class="nav-cta">Le Livre Noir</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Le Code Secret. Tous droits réservés.</p>
        <div class="affiliate-disclosure">
            <small>Ce site contient des liens affiliés. Cela ne change rien pour vous, mais soutient notre
                travail.</small>
        </div>
    </footer>
    <script src="static/js/main.js"></script>
</body>

</html>